@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}

.navbar{
    align-items: center;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10px;
}

section{
    width:200px;
    /* height: 100px; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.image1{
    width: 50%;
    height: 30%;
}

hr{
    width:80%;
    margin:0rem 10rem ;
    
}
.logo{
    color: #AA80F9;
    
}
.secondsection{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head{
    font-weight: 900;
    font-size: 4.5rem;
    padding-bottom: 20px;
}
.text-2{
    width: 40%;
    height: 100px;
display:flex;
flex-direction: column;
justify-content:space-between;

}
.thirdsection{
    width:100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:100px;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
    letter-spacing: 7px;
    text-decoration: none;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #aa80f9;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  
.searchbar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width:80%;
}
.input {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 1.04rem;
    color: #762cff;
    font-weight: 600;
    background-color: rgb(225, 225, 225);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    max-width: 190px;
    transition: .4s;

  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw #aa80f9;
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw #AA80F9;
  }

#container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin-left: 50px;
    margin-top: 125px;
}

.card {
    width: 300px;
    min-height: 400px;
    border-radius: 20px;
    background: #f1f1f1;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-bottom: 100px;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #aa80f9;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .card p {
    color: rgb(105, 105, 105);
   }
   
   /*Text*/
   .card h3 {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #aa80f9;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   #article .date{
    color: #0f1923;
    padding-top: 30px;
   }
